.carousel {
    margin-top: 60px;
    width: 393px;
    height: 250px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative; /* Make sure the carousel div is relatively positioned */
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.25s ease-in-out;
    transform: translateX(100%);
    position: absolute; /* Position images absolutely */
    top: 0; /* Align images to the top of the carousel div */
}

.carousel img.active {
    transform: translateX(0);
    z-index: 2;
}

.carousel img.prev {
    transform: translateX(-100%);
    z-index: 1;
}

.icon-bar {
    position: absolute;
    width: 66px;
    height: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    bottom: 7px;
    margin: 0 164px 0 163px;
    border-radius: 44.5px;
    background: var(--iconbar-color);
    z-index: 4;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.7);
}

.dot.active {
    background-color: white;
}