/* In your drinks.css file */
.description {
    color: var(--card-text);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.165px;
    width: 227px;
    margin-left: 10px;
  }
  
  .drink-name {
    color: var(--card-text);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.165px;
    margin-left: 10px;
  }

.row {
  display: flex;
  padding: 9px;
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: -0.165px;
  
  
  }
  .image-1 {
    height: 107px;
    width: 107px;
    min-width: 107px;
    background-image: url('../../public/images/Mojito_Drink.png');
    background-size: cover; 
    
  }
  
  .image-2 {
    height: 107px;
    width: 107px;
    min-width: 107px;
    background-image: url('../../public/images/Coffee_drink.png');
    background-size: cover; 
  }
  
  
  .image-3 {
    height: 120px;
    width: 107px;
    min-width: 107px;
    background-image: url('../../public/images/Caramel_Coffee.png');
    background-size: cover; 
    background-position: 107px -10px;
  }
   .drinks-button {
    width: 127px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: var(--button-bg);
    border: 0px;
    
   }
   .drinks-button-text {
    color: var(--button-text);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.165px;
   }

   .drink-name1 {
    color: var(--card-text);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.165px;
    margin-left: 3px;

   }
   .description1 {
    color: var(--card-text);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.165px;
    width: 227px;
  }
  .drinks-button1{
    width: 127px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: var(--button-bg);
    border: 0px;
    margin-left: -14px;
  }

  .drinks-button-text1 {
    color: var(--button-text);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.165px;
   }