*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.background-box {
  width: 393px;
  height: 421px;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(220, 120, 144, 0.25);
}

.hours-box {
  width: 159px;
  height: 108.01px;
  left: 26px;
  top: 262.30px;
  position: absolute;
  color: #333333;
  text-align: left;
  font-size: 14px;
  font-family:'ABeeZee', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.image-box {
  /* width: 122px;
  height: 120.13px;
  left: 11px;
  top: 13.23px;
  position: absolute; */
  width: 122px;
  height: 120.128px;
  flex-shrink: 0;
  margin-left: 11px;
  background: url('../public/image/brunchspot2.png') 50% / cover no-repeat;

}

.info-box {
  width: 159px;
  left: 25px;
  top: 150.99px;
  position: absolute;
  color: #333333;
  text-align: left;
  font-size: 14px;
  font-family: 'ABeeZee';
  font-weight: 400;
  word-wrap: break-word;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../public/fonts/SF-Pro-Text.otf') format('otf'),
}

.scroll-title {
  color: rgba(220, 120, 144, 1);
  width: 299px;
  height: 22px;
  flex-shrink: 0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.165px;
}

.main-scroll {
  background: rgba(238, 214, 214, 0.4);
  display: flex;
  width: 350px;
  height: 154px;
  justify-content: flex-end;
  align-items: center;
}

.featured-title, .drinks-title {
  color: rgba(220, 120, 144, 1);
  text-align: left;
  width: 299px;
  margin: 5px 82px 0px 12px;
  height: 22px;
  flex-shrink: 0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.165px;
}

.full-card {
  margin: 5px 15px 15px 15px;
  width: 363px;
  height: 370px;
}

.full-card-img {
  width: 363px;
  height: 253px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
  background: url('../public/images/featuredImage.png'), lightgray 50% / cover no-repeat;
}

.full-card-body {
  width: 363px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 0px 0px 10px 10px;
  background: rgba(255, 255, 255, 1);
}

.full-card-body-title {
  color: #000;
  text-align: left;
  padding: 10px 10px 0px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.165px;
}

.full-card-body-text {
  color: #000;
  width: 312px;
  height: 32px;
  text-align: left;
  margin: 5px 10px 10px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.165px;
}

.read-more-button {
  width: 127px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 100px;
  background: rgba(220, 120, 144, 1);
  margin: 0px 224px 17px 12px;
}

.read-more-button-text {
  color: rgba(238, 214, 214, 1);
  white-space: nowrap;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  height: 17px;
  width: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.165px;
  padding: 5px 27px 6px 28px;
}

/* In your drinks.css file */
.description {
  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: SF Pro Text;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.165px;
  width: 227px;
  margin-left: 10px;
}

.row{
  display: flex;
  padding: 9px;
  color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: SF Pro Text;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 15px; /* 136.364% */
letter-spacing: -0.165px;


}
.image-1 {
  height: 107px;
  width: 107px;
  flex-shrink: 0;
  background-image: url('../public/image/Mojito_Drink.png');
  background-size: cover; 
  
}

.image-2 {
  height: 107px;
  width: 107px;
  background-image: url('../public/image/Coffee_drink\ 1.png');
  background-size: cover; 
}


.image-3 {
  height: 107px;
  width: 107px;
  background-image: url('../public/image/Caramel_Coffee\ 1.png');
  background-size: cover; 
}
 .drinks-button {
  width: 127px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: #DC7890;
  border: 0px;
 }
 .drinks-button-text {
  color: #EED6D6;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: SF Pro Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.165px;
 }