.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.background-box {
  width: 393px;
  height: 421px;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(220, 120, 144, 0.25);
}

.hours-box {
  width: 159px;
  height: 108.01px;
  left: 26px;
  top: 262.30px;
  position: absolute;
  color: #333333;
  text-align: left;
  font-size: 14px;
  font-family:'ABeeZee', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.image-box {
  /* width: 122px;
  height: 120.13px;
  left: 11px;
  top: 13.23px;
  position: absolute; */
  width: 122px;
  height: 120.128px;
  flex-shrink: 0;
  margin-left: 11px;
  background: url('../public/image/brunchspot2.png') 50% / cover no-repeat;

}

.info-box {
  width: 159px;
  left: 25px;
  top: 150.99px;
  position: absolute;
  color: #333333;
  text-align: left;
  font-size: 14px;
  font-family: 'ABeeZee';
  font-weight: 400;
  word-wrap: break-word;
}
