* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
  --primary-bg: #F7F2F2;
  --primary-color: #DC7890;
  --iconbar-color: rgba(217, 217, 217, 0.4);
  --footer-bg: rgba(220, 120, 144, 0.25);
  --footer-icon: url('../public/images/light-toast.png') 50% / cover no-repeat;
  --card-text: #000;
  --card-bg: #fff;
  --button-text: #EED6D6;
  --button-bg: #DC7890;
}

[data-theme='dark'] {
  --primary-bg: #2B2B2B;
  --primary-color: #CFECC4;
  --iconbar-color: rgba(30, 30, 30, 0.60);
  --footer-bg: #222;
  --footer-icon: url('../public/images/dark-toast.png') 50% / cover no-repeat;
  --card-text: #fff;
  --card-bg: #414141;
  --button-text: #CFECC4;
  --button-bg: #61C23E;
}

body {
  background-color: var(--primary-bg);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../public/fonts/SF-Pro-Text.otf') format('otf'),
}

.featured-title, .scroll-title {
  color: var(--primary-color);
  text-align: left;
  width: 299px;
  margin: 5px 82px 0px 12px;
  height: 22px;
  flex-shrink: 0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.165px;
}

.read-more-button {
  width: 127px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--button-bg);
  margin: 0px 224px 17px 12px;
}

.read-more-button-text {
  color: var(--button-text);
  white-space: nowrap;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  height: 17px;
  width: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.165px;
  padding: 5px 27px 6px 28px;
}

@import url('./styles/carousel.css');
@import url('./styles/featured.css');
@import url('./styles/footer.css');
@import url('./styles/horizontalscroll.css');
@import url('./styles/navbar.css');